In [1]:
import pickle
import pandas as pd

In [2]:
FILENAME = 'filteredNews6.pickle'
DEV = 500
SOURCE = 'allthenews'

In [3]:
with open('../data/{}'.format(FILENAME), 'rb') as f:
    roots = pickle.load(f)
roots.head()

      label                                               text
2937     -1  McALLEN, Texas  —   A story wildly circulated ...
8633     -1  She said that despite what he had done, the cr...
7369     -1  Still, others of you feel like the media bias ...
8722     -1  Virginia Social Justice Warriors Want to Tear ...
8782     -1  I am talking about Egypt’s Hazem Salah Abu Ism...

In [4]:
roots.loc[roots['label'] == 1, 'label'] = 0
roots.loc[roots['label'] == 0, 'label'] = 1
roots.loc[roots['label'] == -1, 'label'] = 2

In [5]:
roots.head()

      label                                               text
2937      2  McALLEN, Texas  —   A story wildly circulated ...
8633      2  She said that despite what he had done, the cr...
7369      2  Still, others of you feel like the media bias ...
8722      2  Virginia Social Justice Warriors Want to Tear ...
8782      2  I am talking about Egypt’s Hazem Salah Abu Ism...

In [6]:
df_bert = pd.DataFrame({
    'id':range(len(roots)),
    'label':roots['label'],
    'alpha':['a']*roots.shape[0],
    'text': roots['text'].replace(r'\n', ' ', regex=True)
})

df_bert.head()

      id  label alpha                                               text
2937   0      2     a  McALLEN, Texas  —   A story wildly circulated ...
8633   1      2     a  She said that despite what he had done, the cr...
7369   2      2     a  Still, others of you feel like the media bias ...
8722   3      2     a  Virginia Social Justice Warriors Want to Tear ...
8782   4      2     a  I am talking about Egypt’s Hazem Salah Abu Ism...

In [7]:
df_bert = df_bert.sample(frac=1)

In [8]:
dev, train = df_bert[:DEV], df_bert[DEV:]

In [9]:
dev.to_csv('../data/bert/{}/dev.tsv'.format(SOURCE), index=False, header=False)
train.to_csv('../data/bert/{}/train.tsv'.format(SOURCE), index=False, header=False)
df_bert.to_csv('../data/bert/{}/all.tsv'.format(SOURCE), index=False, header=False)