In [43]:
import pickle
import pandas as pd

In [60]:
FILENAME = 'filteredConvote5.pickle'
DEV = 500
SOURCE = 'convote'

In [61]:
with open('../data/{}'.format(FILENAME), 'rb') as f:
    roots = pickle.load(f)
roots.head()

   label                                               text
0     -1  that , i do not believe , should be tolerated ...
1     -1  the standard we set for a war when we are at w...
2     -1  we may have a justification to find out if som...
3     -1  in short , radical islam is the enemy of freed...
4     -1  during no war in the past , whether world war ...

In [62]:
roots.loc[roots['label'] == 1, 'label'] = 0
roots.loc[roots['label'] == 0, 'label'] = 1
roots.loc[roots['label'] == -1, 'label'] = 2

In [63]:
roots.head()

   label                                               text
0      2  that , i do not believe , should be tolerated ...
1      2  the standard we set for a war when we are at w...
2      2  we may have a justification to find out if som...
3      2  in short , radical islam is the enemy of freed...
4      2  during no war in the past , whether world war ...

In [56]:
df_bert = pd.DataFrame({
    'id':range(len(roots)),
    'label':roots['label'],
    'alpha':['a']*roots.shape[0],
    'text': roots['text'].replace(r'\n', ' ', regex=True)
})

df_bert.head()

      id  label alpha                                               text
2937   0      2     a  McALLEN, Texas  —   A story wildly circulated ...
8633   1      2     a  She said that despite what he had done, the cr...
7369   2      2     a  Still, others of you feel like the media bias ...
8722   3      2     a  Virginia Social Justice Warriors Want to Tear ...
8782   4      2     a  I am talking about Egypt’s Hazem Salah Abu Ism...

In [57]:
df_bert = df_bert.sample(frac=1)

In [58]:
dev, train = df_bert[:DEV], df_bert[DEV:]

In [59]:
dev.to_csv('../data/bert/{}/dev.tsv'.format(SOURCE), index=False, header=False)
train.to_csv('../data/bert/{}/train.tsv'.format(SOURCE), index=False, header=False)
df_bert.to_csv('../data/bert/{}/all.tsv'.format(SOURCE), index=False, header=False)