In [71]:
import pickle
import pandas as pd

In [72]:
FILENAME = 'convoteFullDocs.pickle'
SOURCE = 'convote'

In [73]:
with open('../data/{}'.format(FILENAME), 'rb') as f:
    docs = pickle.load(f)
docs.head()

   label                                          sentences
0     -1  [madam speaker , i yield myself such time as i...
1     -1  [mr. speaker , as we talk about the economy an...
2     -1  [mr. speaker , i thank the gentleman for yield...
3     -1  [mr. speaker , i ask unanimous consent that al...
4     -1  [mr. speaker , i thank the gentleman for yield...

In [74]:
print(len(docs))

3857

In [75]:
docs.loc[docs['label'] == 1, 'label'] = 0
docs.loc[docs['label'] == 0, 'label'] = 1
docs.loc[docs['label'] == -1, 'label'] = 2

In [76]:
docs.head()

   label                                          sentences
0      2  [madam speaker , i yield myself such time as i...
1      2  [mr. speaker , as we talk about the economy an...
2      2  [mr. speaker , i thank the gentleman for yield...
3      2  [mr. speaker , i ask unanimous consent that al...
4      2  [mr. speaker , i thank the gentleman for yield...

In [78]:
n = len(docs)
sampled_docs = docs.sample(n)

In [79]:
sampled_docs.head()

      label                                          sentences
2325      2  [mr. chairman , i am trying to remember , what...
1251      1  [mr. speaker , today we begin the 109th congre...
1614      2  [we always thank the gentlewoman for her inqui...
1083      1  [mr. chairman , on rollcall no ., 196 , i was ...
1020      2  [mr. speaker , i want to thank the gentleman f...

In [80]:
# save indexes for classification in eval notebook
last_index = 0
with open('../data/bert/{}/docs_indices.txt'.format(SOURCE), 'w') as file:
    for i,j in sampled_docs.iterrows():
        file.write('{}\t{}\n'.format(len(j[1])+last_index, j[0]))
        last_index += len(j[1])

In [81]:
# take out sentences for individual classification
sentences = pd.DataFrame(columns=['text'])
for i,j in sampled_docs.iterrows():
    for i in j[1]:
        sentences = sentences.append({'text': i}, ignore_index=True)

In [82]:
sentences.head()

                                                text
0  mr. chairman , i am trying to remember , what ...
1                          i am trying to remember .
2  mr. speaker , today we begin the 109th congres...
3  we considered this bill today not in the spiri...
4  mr. speaker , if this bill passes in its curre...

In [83]:
print(len(sentences))

54830

In [84]:
df_bert = pd.DataFrame({
    'id':range(len(sentences)),
    'label':0,
    'alpha':['a']*sentences.shape[0],
    'text': sentences['text'].replace(r'\n|\t|\r|\f|\v', ' ', regex=True)
})

df_bert.head()

   id  label alpha                                               text
0   0      0     a  mr. chairman , i am trying to remember , what ...
1   1      0     a                          i am trying to remember .
2   2      0     a  mr. speaker , today we begin the 109th congres...
3   3      0     a  we considered this bill today not in the spiri...
4   4      0     a  mr. speaker , if this bill passes in its curre...

In [85]:
df_bert.to_csv('../data/dev.tsv'.format(SOURCE), index=False, header=False)

In [21]:
df_bert.to_csv('../data/bert/{}/dev_docs_sen.tsv'.format(SOURCE), index=False, header=False)